# Node
node_modules/
frontend/node_modules/
package-lock.json

# Python
venv/
__pycache__/
*.pyc

# ML models
backend/models/sms_model/
*.safetensors
*.pt
*.bin
*.pkl

# Data
data/
datasets/

# Env
.env

# OS
.DS_Store
Thumbs.db