# =========================
# Python
# =========================
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# =========================
# Environment Variables
# =========================
.env

# =========================
# Node / Frontend
# =========================
node_modules/
frontend/node_modules/
dist/
build/

# =========================
# ML Models (ignore all)
# =========================
backend/models/

# Allow ONLY required models
!backend/models/
!backend/models/url_models/
!backend/models/url_models/best_url_model.pkl

!backend/models/sms_model/
!backend/models/sms_model/best_sms_pipeline.pkl

# =========================
# Data / Datasets
# =========================
data/
datasets/

# =========================
# OS / Misc
# =========================
.DS_Store
Thumbs.db

# =========================
# Optional (logs / temp)
# =========================
*.tmp
*.cache