fastapi
uvicorn
python-multipart
pydantic
scikit-learn==1.6.1
xgboost
pandas
numpy
scipy
transformers
torch
opencv-python-headless
python-dotenv
requests
joblib
matplotlib
seaborn
python-jose[cryptography]
bcrypt
qrcode
pillow
python-magic
tldextract
lightgbm
whois
pymongo
